.service-wrap
  // min-height: 1000px

.separator
  width: 2px
  height: 180px
  align-self: center
  background-color: #0c4d9d50

p
  text-indent: 2rem
  &:first-child
    text-indent: 1rem
.service
  display: flex
  flex-direction: column
  align-items: center
  padding: 4rem 0
  &-slider
    display: flex
    justify-content: space-between
    // align-items: baseline
    width: 100%
    max-height: 200px
    // padding: 0 1rem
    background-color: #efefef
    box-shadow: 0 0 48px rgba(0,0,0,0.8)
    position: relative
    top: -100px
    
    &__item
      display: flex
      flex-direction: column
      justify-content: space-between
      max-width: 16.6%
      margin: 0 1rem
      // align-self: center
      // border-left: 2px solid #0c4d9d4b
      // padding: 0 1rem
      text-transform: uppercase
      font-size: 14px
      font-weight: 500

      &__img, &__text
        align-self: center
        text-align: center
      &__img
        margin: 1rem
        // overflow: hidden
        // position: relative
        & img
          width: 100%
          height: 100%
          object-fit: cover
          // position: absolute
          // top: 0
          // left: 0

      &__text
        margin-bottom: 1rem
    &__item:first-child
      border-left: none
      margin: 0


  &-button
    max-width: 500px
    font-size: 30px
    min-height: 67px
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    // margin-bottom: 4rem

.slider-content
  display: flex
  min-width: 0
  flex-wrap: wrap
  margin-bottom: 2rem
.content__item
  min-width: 300px
  display: flex
  align-items: center
  // margin: 1rem
  padding: 0 2rem
  position: relative
  cursor: pointer
  flex: 1 1 calc(33.33% - 1rem)
  

.content__item:before, .content__item:after
  content: ''
  width: 10px
  height: 1px
  background-color: #000
  position: absolute
  top: 50%
  transition: all .3s ease 0s

.content__item:before
  transform: rotate(40deg)
  right: 7px
.content__item:after
  transform: rotate(-40deg)
  right: 0px

.content__item.active:before, .content__item.active:after
  background-color: red
.content__item.active:before
  transform: rotate(-40deg)
.content__item.active:after
  transform: rotate(40deg)

.someText
  transition: all .3s ease 0s
  // display: none
.content
  transition: all .3s ease 0s

  &-img
    flex: 0 0 20%
    & img
      width: 100%

  &-text-wrap, &-img
    // flex-grow: 1
  &-text-wrap
    padding: 0 2rem
    // flex-basis: 50%
    // align-self: stretch
  &-title
    display: flex
    align-items: center
    font-size: 1rem
    text-transform: uppercase
    margin: 2rem 0
  &-desc
    display: none
    text-align: justify
    line-height: 1.5
    font-weight: 500
    padding: 1rem

    

.slogan
  display: flex
  align-items: center
  justify-content: center
  height: 290px
  width: 100%
  color: #fff
  font-size: 50px
  text-transform: uppercase
  font-weight: 600
  background: url(/assets/img/services/city.png) repeat-x left 40%
.img_responsive
  // display: none
  margin-right: 1rem
  max-width: 6rem



@media ( max-width: 1200px )
  .service-slider__item__text
    font-size: 12px

@media ( max-width: 992px )
  .service-slider
    display: none
  .content__item
    padding-top: 2rem

@media ( max-width: 767px )
  .img_responsive
    display: block
    
  .content-img
    display: none
  .insideimg
    display: inline
  .service-content > *
    padding: 0
    & > *
      padding: 0rem
  h2, .service-button
    font-size: 1rem
  .slogan__text
    font-size: calc( 60% )

@media ( max-width: 530px )
  .content-text-wrap
    padding: 0
  .img_responsive
    width: 50%
  .content__item
    padding: 0
  .slogan__text
    font-size: calc( 30% )
  h2
    font-size: 13px
